# Build files
build/
out/
logs/

# Gradle caches
.gradle

# IDEA project files
.idea/*
!.idea/vcs.xml
!.idea/runConfigurations/
*.iml
atlassian-ide-plugin.xml

# Eclipse project files
.classpath
.project
.settings
bin

# Visual Studio Code project files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

